.div-wrapper{
    position: absolute;
    width: 100%;
    /* margin: 50%; */
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%)
}
.loading{
    left: 50%;
    position: absolute;
    margin-left: -45px;
}

.err{
    color:red;
    text-align: center;
}