
<div class="wrapper">
    <div class="sidebar"  *ngIf="isLoggedIn && !preloginPage" data-background-color="white" data-active-color="danger">
        
    </div>
    <div class="main-panel" [ngClass]="{'fullwidth':!isLoggedIn || preloginPage}">
        <!-- <navbar-cmp *ngIf="isLoggedIn && !preloginPage"></navbar-cmp> -->
        <div class="content"  [ngClass]="{'pad-0':!isLoggedIn || preloginPage}">
            <router-outlet (activate)='onActivate($event)'></router-outlet>
        </div>
        </div>
        </div>


