
<!-- <iframe height=1000 width=1100 src="https://petstore.swagger.io/?_ga=2.96880858.452227377.1531566902-760521090.1531566902"></iframe> -->

<!-- <button type="button" class="btn btn-info" 
(click)="openModal(template)">Swagger Iframe</button>

<ng-template #template>
  <div class="modal-header">
      <h4 class="modal-title pull-left">Swagger</h4>
      <button type="button" class="close pull-right" 
              aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>
  <div class="modal-body">
    <iframe class="col-lg-12 col-md-12 col-sm-12" height=540 width=440 src="https://petstore.swagger.io/?_ga=2.96880858.452227377.1531566902-760521090.1531566902" ></iframe>
  </div>
</ng-template> -->

<a href="http://69.30.215.250:4400/api-docs/"><button type="button" class="btn btn-info" >View Swagger</button></a>&nbsp;
<a href="javascript:void(0);"><button class="btn btn-info" (click)="logout()" >Logout</button></a>
