    
    <div class="container-fluid">
      <div class="row div-wrapper" >
          <div class="col-sm-4"></div>
          <div class="col-sm-4">
              <div class="card">
                  <div class="header">
                      <h4 class="title text-center">Forgot Password</h4>
                  </div>
                  <div class="content">
                      <form [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)">
                          <div class="row">
                              <div class="col-sm-12">
                                  <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['email'].valid && complexForm.controls['email'].touched}">
                                      <label>Email</label>
                                      <input  type="text" class="form-control border-input" [formControl]="complexForm.controls['email']"  placeholder="Enter your Email">
                                  </div>
                              </div>
                          </div>
                          <div class="text-center">
                              <button  [disabled]="!complexForm.valid" type="submit" class="btn btn-info btn-fill btn-wd">Submit</button>
                          </div>
                          <div class="clearfix"></div>
                      </form>
                  </div>
                 
                  <!-- <img class="loader" src="assets/img/loader.gif"> -->
                  <p class="text-center"><a routerLink="/login">Login</a></p>
              </div>
          </div>
          <div class="col-sm-12">
            <p class="err">{{errmsg}}</p>
          </div>
          <div class="col-sm-12 ">
                <div class="loading">
                        <img *ngIf="loading" src="assets/img/loader2.gif">
                </div>
               
            </div>
         
      </div>
  </div>